---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Pill from "../components/Pill.astro";
---

<BaseLayout
	title="About | Jeanine White"
	description="About Jeanine White Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.png"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I embarked on my career journey as a UI/UX designer
						during my first year of college, immersing myself in the
						art of creating user-centered designs and translating
						intricate user requirements into impactful design
						solutions. However, I soon realized that my ability to
						bring those designs to life was limited. This
						realization prompted my transition into frontend
						development, where I discovered a newfound passion for
						crafting captivating and functional web applications.
					</p>
					<br />
					<p>
						With hands-on experience in popular frameworks such as
						ReactJS, NextJS, and Redux, I have honed my frontend
						development skills. I have seamlessly integrated these
						frameworks with CSS libraries like TailwindCSS and
						MaterialUI, resulting in visually stunning and highly
						responsive interfaces. Projects like CryptoDash
						exemplify my ability to conceptualize and build
						innovative applications, while my internship at Mable AI
						exposed me to advanced tools and frameworks, where I
						optimized components and gained proficiency in modular
						API calls.
					</p>
					<br />
					<p>
						As my frontend skills flourished, I found myself
						increasingly drawn to backend development and eagerly
						delved into the world of server-side programming.
						Proficient in technologies such as NodeJS, Express, and
						MongoDB, I have tackled projects requiring intricate
						backend functionality. Notably, my contributions as a
						backend developer at the Barclays hackathon garnered
						recognition for our team's inventive use of AWS,
						resulting in an award for building a scalable and secure
						platform.
					</p>
					<br />
					<p>
						Driven by a thirst for knowledge, I have recently begun
						exploring the realm of DevOps, immersing myself in the
						intricacies of deployment, infrastructure as code, and
						automation. Proficient in tools such as Docker,
						Kubernetes, and Git, I possess a solid understanding of
						CI/CD workflows, allowing me to ensure seamless and
						efficient application deployment.
					</p>
					<br />
					<p>
						My unwavering passion for crafting user-friendly
						applications continues to fuel my personal and
						professional growth. I approach every challenge with
						enthusiasm, constantly expanding my skill set and
						seeking new opportunities to broaden my horizons. With a
						versatile background encompassing frontend, backend, and
						DevOps expertise, I am excited to embark on new ventures
						and contribute my skills to meaningful projects in the
						future.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>B.Tech in CSE<span class="year">2020-2024</span><br>SRM Institue of Science and Technology, Chennai, India</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div class="tags">
						<Pill>Java</Pill>
						<Pill>JavaScript</Pill>
						<Pill>Typescript</Pill>
						<Pill>HTML</Pill>
						<Pill>CSS</Pill>
						<Pill>TypeScript</Pill>
						<Pill>JavaScript</Pill>
						<Pill>ReactJS</Pill>
						<Pill>NextJS</Pill>
						<Pill>Redux</Pill>
						<Pill>Styled Components</Pill>
						<Pill>TailwindCSS</Pill>
						<Pill>NodeJS</Pill>
						<Pill>Express</Pill>
						<Pill>MongoDB</Pill>
						<Pill>Socket</Pill>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
.year{
	font-size: 1rem;
	color: var(--gray-200);
	opacity: 0.8;
	margin-left: 1rem;
}
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
